name: CI/CD Tendencias G2 (NutriVida)

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Creación e implementación de la app
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Actions
        uses: actions/checkout@v3
      
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      
      - name: Instalar dependencias
        run: npm install

      - name: Build React app
        run: |
          npm run build
        env:
          CI: false

      - name: Configurar AWS credenciales
        uses: aws-actions/configure-aws-credentials@v1
        with:


          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Deploy en S3
        run: aws s3 sync build/ s3://tendenciasg2 --delete

      - name: CloudFront invalidacion
        env:
          CLOUD_FRONT_ID: ${{ secrets.AWS_CLOUDFRONT_ID}}
        run: |
          aws cloudfront create-invalidation --distribution-id $CLOUD_FRONT_ID --paths /*
